.button {
  background-color: #8e6fe4;
  color: #fff;
  height: 6vh;
  width: 16vw;
  border: 10px solid;
  border-radius: 20px;
  transition: 0.5s;
  font-family: InterD;
}
.button:hover {
  background-color: #8e6fe4;
  opacity: 0.3;
  transition: 0.5s ease-in-out;
}
