.main-container{
  border: solid;
  border-color: #a3b4ce;
  max-width: 20vw;
  width: 20vw;
  height: 60vh;
  margin-top: 5vh;
}

.content-page {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}


.button-form{
  display: flex;
  justify-content: center;
}
